.card {
    position: relative;
    width: 182px;
    height: 182px;
    background: linear-gradient(135deg, #d1d9e6 9.65%, #eeeef1 58.9%);
    box-shadow: 9px 9px 30px #d1d9e6, -9px -9px 30px #ffffff;
    border-radius: 29px;
    cursor: pointer;
    overflow: hidden;
    transition: background 1s ease;
}

.card:hover {
    background: linear-gradient(135deg, #eeeef1 21.2%, #d1d9e6 76.35%);
    box-shadow: 9px 9px 30px #d1d9e6, -9px -9px 30px #ffffff;
}

.card .title {
    margin-top: 45px;
    text-align: center;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.265em;
    color: #000000;
}

.card img {
    position: absolute;
    right: 0;
    bottom: -8px;
    height: 120px;
}

@media screen and (max-width:500px){
    .card:hover {
        box-shadow: unset;
    }
}
