.container-modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    background: rgba(217, 217, 217, 0.16);
    backdrop-filter: blur(4px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.container-modal .modal-box .circle {
    position: absolute;
    width: 49px;
    height: 49px;
    right: -20px;
    top: -20px;

    background: linear-gradient(135deg, #d1d9e6 9.65%, #eeeef1 58.9%);
    box-shadow: 7px 7px 30px #d1d9e6, -18px -18px 30px rgba(255, 255, 255, 0.7);
    border-radius: 91px;
}

.container-modal .modal-box {
    position: relative;
    width: 60%;
    min-width: 640px;
    height: 455px;
    background: #ecf0f3;
    border-radius: 29px;
    display: flex;
    justify-content: space-around;
    border: 8px solid #1FD28780
}

.modal {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

.container-button {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.container-button .go-back {
    width: 15px;
    height: 30px;
    border: none;
    position: relative;
    cursor: pointer;
}

.container-button .go-back img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}

.circle .img-project {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0.5em;
}

.circle .img-project img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: contain;
}
