/*importamos la fuentes*/
@font-face {
  font-family: "Myanmar Text Regular";
  src: url("./assets/fonts/mmrtext.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Myanmar Text Bold";
  src: url("./assets/fonts/mmrtextb.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html{
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "Myanmar Text Bold", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(90deg, #E9EAEF 0%, #F5F5F5 100%);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

html::-webkit-scrollbar-track {
  border-radius: var(--color-border-radius-pista-scroll-lista-participants, 20px);
  background-color: transparent;
}

html::-webkit-scrollbar {
  width: 8px;
  border-radius: 20px;
  background-color: transparent;
}

html::-webkit-scrollbar-thumb {
  border-radius: var(--color-border-radius-scroll-lista-participants, 20px);
  background-color: transparent;
}